<footer class="exam-footer py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <h5 class="mb-2">EXAM System</h5>
        <p class="text-muted small mb-0">An efficient platform for managing exams, students, and results.</p>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <h6 class="mb-2">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/home']" class="footer-link">Home</a></li>
          <li><a [routerLink]="['/admin/exams']" class="footer-link">Manage Exams</a></li>
          <li><a [routerLink]="['/admin/results']" class="footer-link">Manage Results</a></li>
          <li><a  class="footer-link">Log in</a></li>

        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="mb-2">Contact</h6>
        <ul class="list-unstyled small">
          <li><i class="bi bi-envelope me-1"></i> <a href="mailto:aliaa23mahmoud@gmail.com"
              class="footer-link">ExamSystem.com</a></li>
          <li><i class="bi bi-telephone me-1"></i> +20 123 456 7890</li>
        </ul>
      </div>
    </div>

    <hr class="my-3" />

    <div class="text-center small text-muted">
      &copy; 2025 EXAM System. Built by our team <i class="bi bi-heart-fill text-danger"></i>
    </div>
  </div>
</footer>
